extends templates/main.jade

block head
  link(rel="stylesheet" href="styles/achievements.css")

block title
  | Life Achievements | xigoi

block content
  h1 Life Achievements
  p This page is the tracker of my personal achievements in life, as if it were a game.
  h2 Education
  ul.achievements
    li.complete Finish elementary school
    li.complete Finish high school
    li.incomplete Get a bachelor degree
    li.incomplete Get a magister degree
    li.incomplete Get a doctor degree
  h2 Long Distance Walking
  ul.achievements
    li.complete Walk 25&thinsp;km in one day
    li.complete Walk 50&thinsp;km in one day
    li.complete Walk 75&thinsp;km in one day
    li.incomplete Walk 100&thinsp;km in one day
  h2 Mathematics
  ul.achievements
    li.complete Get into a regional Math Olympiad
    li.complete Get into a national Math Olympiad
    li.locked Get into a multinational Math Olympiad
    li.locked Get into an international Math Olympiad
    li.complete Get something published in a mathematical journal
    li.incomplete Solve an open mathemetical problem
  h2 Programming
  ul.achievements
    li.complete Learn a programming language
    li.complete Get into a regional Programming Olympiad
    li.complete Get into a national Programming Olympiad
    li.complete Get into a multinational Programming Olympiad
    li.locked Get into an international Programming Olympiad
    li.complete Get into CERC
    li.incomplete Get into ICPC
    li.complete Get a programming job
    li.incomplete Get a long-term programming job
  h2 Social
  ul.achievements
    li.complete Get a friend
    li.complete Get invited to a birthday party
    li.complete Organize a birthday party
    li.locked Get a romantic relationship
