extends templates/main.jade

block head
  link(rel="stylesheet" href="styles/chemistry.css")

block title
  | Cursed Organic Chemicals | xigoi

block content
  h1 Cursed Organic Chemicals
  figure
    svg.chemistry(width="3cm" height="3cm" viewBox="-1 -2 4 4" xmlns="http://www.w3.org/2000/svg")
      text(x="0" y="0") CH₂
      path(d="M 0 0.8 A 1.5 1.5 0 1 0 0 -0.8")
    figcaption Cyclomethane
  figure
    svg.chemistry(width="3cm" height="3cm" viewBox="-1 -2 4 4" xmlns="http://www.w3.org/2000/svg")
      text(x="0" y="0") CH₂
      text(x="2" y="0") CH₂
      path(d="M 0 0.8 A 1.5 1.5 0 0 0 2 0.8 M 0 -0.8 A 1.5 1.5 0 0 1 2 -0.8")
    figcaption Cycloethane
  figure
    svg.chemistry(width="75mm" height="15mm" viewBox="-5 -1 10 2" xmlns="http://www.w3.org/2000/svg")
      text(x="-4" y="0") CH
      text(x="0" y="0") CH₋₂
      text(x="4" y="0") CH
      path(d="M -1.2 0 L -3.2 0 M -1.2 0.2 L -3.2 0.2 M -1.2 -0.2 L -3.2 -0.2 M 1.2 0 L 3.2 0 M 1.2 0.2 L 3.2 0.2 M 1.2 -0.2 L 3.2 -0.2")
    figcaption Propadiyne
  figure
    svg.chemistry(width="75mm" height="30mm" viewBox="-5 -1 10 4" xmlns="http://www.w3.org/2000/svg")
      text(x="-4" y="0") CH₃
      text(x="0" y="0") CH₋₁
      text(x="4" y="0") CH₃
      text(x="-4" y="2") CH₃
      text(x="0" y="2") CH₃
      text(x="4" y="2") CH₃
      path(d="M -1.2 0 L -3 0 M 1.2 0 L 3 0 M -1.2 0.5 L -3 1.8 M 1.2 0.5 L 3 1.8 M 0 0.5 L 0 1.4")
    figcaption Trimethylpropane
  figure
    svg.chemistry(width="45mm" height="45mm" viewBox="-1 -5 6 6" xmlns="http://www.w3.org/2000/svg")
      text(x="0" y="0") C
      text(x="4" y="0") C
      text(x="2.2" y="-4") CH₂
      path(d="M 0.6 0 L 3.4 0 M 0.6 0.2 L 3.4 0.2 M 0.6 -0.2 L 3.4 -0.2 M 3.8 -0.7 L 2.4 -3.5 M 0.2 -0.7 L 1.6 -3.5")
    figcaption Cyclopropyne
