extends templates/main.jade

block head
  include templates/katex.jade

block title
  | Equality | xigoi

block content
  h1 Equality
  p
    | Who doesn't want equal rights? Gender equality, racial equality, you name it. However, there seems to be a general disagreement on what “equality” should look like. I'd like to present my viewpoint using the mathematical definition of an 
    dfn equivalence relation
    | , which is basically a generalized idea of equality.
  h2 Equivalence relation
  figure.quote
    blockquote
      | In 
      a(href='/wiki/Mathematics', title='Mathematics') mathematics
      | , an 
      dfn equivalence relation
      |  is a 
      a(href='/wiki/Binary_relation', title='Binary relation') binary relation
      |  that is 
      a(href='/wiki/Reflexive_relation', title='Reflexive relation') reflexive
      | , 
      a(href='/wiki/Symmetric_relation', title='Symmetric relation') symmetric
      |  and 
      a(href='/wiki/Transitive_relation', title='Transitive relation') transitive
      | .
    figcaption
      | — 
      a(href='https://en.wikipedia.org/wiki/Equivalence_relation') Wikipedia
  h3 Reflexivity
  p
    dfn Reflexivity
    |  simply means that everything is equal to itself. This is not really relevant when discussing human rights, since the rights of a given group are equal to themselves by nature.
  h3 Symmetry
  p
    dfn Symmetry
    |  says that if \(x = y\), then \(y = x\). In other words, two equal things are interchangeable. Now this gets more interesting. My interpretation is that if switching the roles of two people/groups wouldn't change their situation regarding what they can do, only then can we say that they have equal rights. Surprisingly, this already seems to be a very controversial opinion. I'll get to concrete examples later.
  h3 Transitivity
  p
    dfn Transitivity
    |  says that if \(x = y\) and \(y = z\), then also \(x = z\). It's hard to imagine a scenario where this would come relevant in human rights. After all, it involves three variables, but discussions about human rights usually compare the rights of two groups. We'll see if this becomes useful later.
  h2 Women, Men, Axolotlgenders and the like
  p
    | Probably the most talked-about kind of human equality is gender equality. The concept of non-binary genders is quite new, so most of the discussion is about differences of rights between women and men. Some examples include:
    ul
      li In cultures influenced by Abrahamic religions (and possibly other religions), women are treated as something between second-class citizens and sex slaves, depending on the situation.
      li Men are often treated as disposable, especially when it comes to military draft and life-threatening situations (“women and children first”).
      li Women don't get to keep their surname after being married and are <em>kind of</em> treated as their husband's property. On the other hand, men are expected to put most of the effort into making the marriage a thing in the first place. And if a woman attempts to do that, she often gets socially shamed.
      li Both genders have some more or less strict traditional gender roles and are punished in various ways for not following them.
    | I could go on, but the point is apparent: both women and men are disadvantaged in some ways and often both sides get both a win and a loss from the same situation. This seems to be a more nuanced view than that of most people debating this topic.
