extends templates/main.jade

block title
  | Geek Code | xigoi

block content
  h1 Geek Code
  p
    | My 
    a(href="https://geekcode.xyz/geek.html") Geek Code
    |  is:
    pre
      code.
        GCS/M/S d-(pu) s++:->++: a19>?
        C++>$ UL P--- L++(+++) E-(---) W++ N? o? K? w--- O? M- V?
        PS+ PE+ Y+ PGP?
        t 5? X? R !tv b+ DI(+) D? G
        e>++++ h!>--- r-->++(+++) y>+++
    | You can 
    a(href="http://www.joereiss.net/geek/ungeek.html") decode it here
    | .
