extends templates/main.jade

block content
  p.warning This website is a work in progress.
  p
    a.no-icon(href="https://512kb.club")
      svg(xmlns="http://www.w3.org/2000/svg" width="234.376" height="30.002" viewBox="0 0 62.012 7.938")
        path(d="M0 0h31.006v7.938H0z" fill="#c8e6c9")
        path(d="M31.006 0h31.006v7.938H31.006z" fill="#4caf50")
        path(d="M5.2 2.8H4.117v.917q.215-.128.45-.128.353 0 .568.257.215.257.215.7 0 .307-.124.545-.12.238-.34.37-.22.133-.513.133-.26 0-.463-.1-.197-.1-.376-.298l.243-.22q.133.142.27.215.137.07.316.07.266 0 .412-.183.147-.188.147-.536 0-.655-.495-.655-.1 0-.202.032-.092.028-.206.092H3.72V2.48h1.52zm1.806-.32v3.066h-.408V2.9l-.637.43-.188-.275.87-.587zm1.7-.05q.26 0 .45.1.192.105.293.293.1.183.1.417 0 .28-.1.532-.105.247-.344.555-.238.307-.733.87h1.256l-.05.34H7.9v-.32q.532-.614.774-.93.247-.316.344-.54.096-.23.096-.48 0-.243-.124-.376-.12-.133-.325-.133-.174 0-.302.078-.128.078-.266.247l-.257-.197q.335-.463.857-.463zm2.247-.038v3.153h-.426V2.392zm1.55 0l-1.068 1.44 1.14 1.714h-.5L10.97 3.86l1.077-1.466zm2.044 1.485q.687.12.687.78 0 .45-.302.67-.302.22-.834.22h-.807V2.392h.683q.545 0 .84.202.293.202.293.6 0 .28-.156.458-.15.174-.403.234zm-.83-1.16v1.017h.394q.266 0 .412-.133.15-.137.15-.38 0-.266-.165-.385-.16-.12-.495-.12zm.385 2.493q.335 0 .513-.128.18-.133.18-.435 0-.596-.646-.596h-.43V5.2zM18.6 2.332q.247 0 .43.078.183.073.362.234l-.22.257q-.133-.115-.266-.17-.128-.055-.284-.055-.357 0-.568.307-.2.302-.2.98 0 .66.2.976.2.312.568.312.18 0 .307-.064.128-.064.28-.188l.215.252q-.344.353-.825.353-.353 0-.628-.183-.27-.183-.426-.55-.15-.37-.15-.907 0-.532.156-.898.16-.367.43-.55.275-.183.62-.183zm2.05.06v2.8h1.15l-.046.362h-1.53V2.392zm3.8 2.228q0 .435-.26.7-.26.275-.747.275-.5 0-.747-.27-.257-.275-.257-.715V2.392h.426v2.2q0 .664.577.664.577 0 .577-.664v-2.2h.43zm2.323-.743q.687.12.687.78 0 .45-.302.67-.302.22-.834.22h-.807V2.392h.683q.545 0 .84.202.293.202.293.6 0 .28-.156.458-.15.174-.403.234zm-.83-1.16v1.017h.394q.266 0 .412-.133.15-.137.15-.38 0-.266-.165-.385-.16-.12-.495-.12zM26.34 5.2q.335 0 .513-.128.18-.133.18-.435 0-.596-.646-.596h-.43V5.2zm8.4-2.897q.56 0 .972.4l-.357.376q-.156-.124-.3-.18-.128-.055-.293-.055-.32 0-.495.266-.174.26-.174.866 0 .435.06.683.06.243.18.344.12.1.316.1.206 0 .367-.1V4.25h-.353l-.07-.518h1.118v1.572q-.225.156-.5.243-.275.087-.55.087-.674 0-1.004-.412-.325-.417-.325-1.256 0-.54.183-.917.183-.376.5-.56.316-.188.715-.188zm2.732 2.034h-.238v1.22H36.5V2.38h.93q.623 0 .93.243.307.238.307.72 0 .6-.536.857l.72 1.356h-.802zm-.238-.5h.225q.238 0 .348-.115.1-.12.1-.37 0-.23-.12-.335-.12-.1-.376-.1h-.188zm3.978-1.447l-.078.522h-.985v.784h.862V4.2h-.862v.825h1.054v.532h-1.787V2.38zm2.513 0l-.078.522h-.985v.784h.862V4.2h-.862v.825h1.054v.532H41.94V2.38zm2.957 3.176h-.917l-.78-2.493q.01.055.01.092.04.33.064.6.023.266.023.62v1.182h-.642V2.38h.907l.793 2.498q-.1-.596-.1-1.187V2.38h.642zm4.135-3.176l-.078.56h-.683v2.617h-.733V2.94h-.724v-.56zm2.383 0l-.078.522h-.985v.784H53V4.2h-.862v.825h1.054v.532h-1.787V2.38zm2.248 3.176l-.142-.692h-.807l-.142.692h-.742l.857-3.176h.88l.852 3.176zm-.84-1.22h.587l-.293-1.42zm5.048 1.22h-.7l-.04-1.256q-.018-.55-.018-.8 0-.32.01-.472L58.5 5.222h-.7l-.44-2.204q.018.348.018.738 0 .174-.01.56l-.04 1.242h-.697l.2-3.176h.917l.4 2.163.367-2.163h.92z" fill="#1a1a1a")
  p
    | Hi! I am 
    em.xigoi xigoi
    | . I like programming and other computer stuff, mathematics, linguistics and walking. I live in Czechia and can speak Czech, English, 
    a(href="https://tokipona.org/") Toki Pona
    |  and some German. I am a big open source enthusiast – I use 
    a(href="https://www.linux.com/news/what-is-gnu-linux/") GNU/Linux
    | , 
    a(href="https://www.vim.org/") Vim
    | , 
    a(href="https://www.latex-project.org/")
      span(style="margin-right: -0.36em;") L
      span(style="position: relative; font-size: .7em; top: -0.4em;") A
      span(style="margin-right: -0.2em;") T
      span(style="position: relative; top: 0.2em; margin-right: -0.1em;") E
      span X
    | , 
    a(href="https://f-droid.org/") F-Droid
    | , 
    a(href="https://disroot.org/en") Disroot
    |  and others. I'm working on 
    a(href="http://matikuj.cz/") Matikuj
    | . I have some strong and possibly controversial 
    a(href="opinions.html") opinions
    |  about various aspects of life. On this website, you can find some things written and otherwise created by me. Happy browsing!
  h2 Math
  ul.index
    li.wip
      a(href="quantum-games.html") Quantum Games
    li
      a(href="math-notation.html") Math Notation
  h2 Web Development
  ul.index
    li
      a(href="minimal-website-usable.html") How to make a minimal website usable
    li
      a(href="minimal-website-tricks.html") Tips & Tricks for creating a minimal website
  h2 Rants
  ul.index
    li
      a(href="opinions.html") Opinions
    li.wip
      a(href="equality.html") Equality
    li
      a(href="language-criticism/") Language Criticism
  h2 Fiction
  ul.index
    li
      a(href="susan-and-male-privilege.html") Susan and Male Privilege
  h2 Chemistry
  ul.index
    li
      a(href="cursed-organic-chemicals.html") Cursed Organic Chemicals
  h2 Bingo
  ul.index
    li
      a(href="bingo/") Bingo
    li
      a(href="bingo/?file=woke.txt&size=7") Woke Bingo
  h2 About me and this site
  ul.index
    li
      a(href="geekcode.html") Geek Code
    li
      a(href="achievements.html") Life Achievements
    li
      a(href="logo.html") xigoi logo
    li
      a(href="styles/main.sass") Stylesheet (SASS)
    li
      a(href="styles/main.css") Stylesheet (CSS)
  h2 Contact me
  ul.index
    li E-mail: 
      a(href="mailto:xigoi@disroot.org") xigoi@disroot.org
    li Reddit: 
      a(href="https://www.reddit.com/user/xigoi") u/xigoi
    li Discord: xigoi#1759
