extends templates/main.jade

block title
  | xigoi logo | xigoi

block content
  h1 The xigoi logo
  svg(id="xigoi-logo" viewBox="-7 -2 24 24" xmlns="http://www.w3.org/2000/svg" style="width: 100%; height: 100%;")
    path(d="M 0 20 L 9 8 A 5 5 0 1 0 1 8 L 4 12 A 5 5 0 0 0 8 14 A 2 2 0 0 1 10 16 A 4 4 0 0 1 2 16 A 5 5 0 0 1 3 13 A 10 10 0 0 0 5 7" stroke="#0ff" stroke-width="1")
    circle(cx="5" cy="5" r="1" fill="#f80")
  p The shape is meant to be an “x” overlapping with an “i”, drawn with a single stroke — except for the dot, which is singled out. I realized later that it looks like a thinking person, which is a nice coincidence.
  p This version of the logo is made in SVG and designed so that the cyan part consists entirely of straight line segments and circular arcs, whose endpoints all lie on a square lattice. The dot lies in the center of the most complete circular arc and is distinguished by both size and color. It was a nice exercise in geometry.
  p The colors don't really mean anything, I just like them.
