extends templates/main.jade

block head
  include templates/katex.jade

block title
  | Math Notation | xigoi

block content
  h1 Math Notation
  h2 Square root
  p \(\sqrt{\text{This is how you write a square root.}}\)
  p \(\sqrt{\text{It has no hook at the end.}}\)
  h2 Tau
  p
    a(href="https://tauday.com/tau-manifesto") \(\tau\) is good.
    |  Use it.
  h2 Function exponentiation
  p Bijective functions form a group with composition \(\circ\) as the group operation. So logically, function exponention means repeated application. It can also be used for regular functions, even though they don't form a group. So \(\sin^2(x)\) means \(\sin(\sin(x))\), not \(\sin(x)^2\).
  h2 Factorial of a real number
  p There's no reason why the notation \(x!\) couldn't be used for the factorial of a real number, which many people awkwardly write as \(\Gamma(x + 1)\).
