extends templates/main.jade

block title
  | Not Found | xigoi

block content
  h1 404 Not Found
  p
    | Sorry, this page doesn't exist on my website. Sometimes I move things around, so it's possible that it's somewhere else now. Would you like to go to the 
    a(href="/") main page
    |  and try to find it?
