extends templates/main.jade

block title
  | Opinions | xigoi

block content
  h1 Opinions
  p Here are some of my opinions that could be considered controversial. Fell free to argue about them with me.
  h2 Casual
  ul
    li Pineapple pizza is the best pizza.
    li Teeth should be brushed after breakfast, not before.
  h2 Mathematics
  ul
    li 0 is a Natural number.
    li The Axiom of Choice is intuitively false.
  h2 Programming
  ul
    li C is a badly designed programming language with ugly syntax.
    li Semicolons and braces are syntactic noise and should not be necessary in modern languages.
    li
      | Indexing from 0 is 
      a(href='https://www.cs.utexas.edu/users/EWD/transcriptions/EWD08xx/EWD831.html') objectively better
      |  than indexing from 1 even if we disregard how it internally works.
