extends templates/main.jade

block title
  | Susan and Male Privilege | xigoi

block content
  h1 Susan and Male Privilege
  p.disclaimer This story is completely fictional. Take whatever you want from it.
  p “Men are so privileged.” Susan closed the browser tab with Huffington Post because the newest feminist article criticizing the construction of a unisex shelter for domestic violence victims made her shake with rage. She put her phone into her pocket and continued walking through the marketplace. “I with I could experience being a man. I would show them how to use the privilege correctly!” she muttered to herself.
  p “Then I have something exactly for you,” an old man sitting inside an aged wooden stall said slowly in a slightly unsettling voice. Susan turned to him with a disgusted expression and shouted: “Look at this <em>white male</em> with an opinion! Stop mansplaining!” The man, completely untouched by her hostility, slowly handed over an item from his stall. “This is the Monkey's Paw. It can grant you any wish you want.” Susan rolled her eyes. As a Sagittarius, she didn't believe in such superstitions. “I'm not giving any money to a man. You're already rich because of the wage gap, so you should be giving money to me.” “I don't need money,” said the man. “I'll happily let you use it for free. But be careful what you wish for, wishes always come with unexpected consequences.”
  p Susan thought — what unexpected consequences could come with being a man? They have literally everything handed to them on a silver platter. “Fine, I'll try it. Monkey's Paw, I would like to become a man. And make it so that people forget that I used to be a woman.” The paw suddenly curled one of its fingers. Susan started feeling weird. Her waist got narrower. Her chest got wider, but the breasts disappeared and left only the nipples behind. She felt various parts of her body getting covered in hair. And her genitalia completely changed shape. She became… Sean.
  p “Wow, it wor… AAAAAH!” he screamed as he realized that his voice had become rougher. “It's okay, I'll get used to this.” He threw another disgusted look at the stallkeeper — who was still a white male after all — and began walking home, excited to try out his newly acquired privilege. He decided that he's going to go through the shady neighborhood, where some random men would call him beautiful when he was a woman. Finally he doesn't have to worry about that!
  p “Hey, mate.” Sean was approached by a dirty and stinky guy in a black hoodie. “I ain't ate nothing today, would you spare some money for me?” Normally Sean wouldn't give him anything to avoid supporting his male privilege, but since now he was a man too, there was no power imbalance and he might as well do it. He took out his wallet and before he could think about how much money he's going to give, the beggar snatched the wallet out of his hands and ran away.
  p Sean was baffled. “Í thought men were immune to crimes when walking in a shady neighborhood!” After recovering from the shock, he decided that he won't make much out of it. The wallet had the key to his house, but his boyfriend had a backup key, so he could just… and thinking about that, he realized that he doesn't feel attracted to his boyfriend anymore. In fact, the thought of having sex with him was kind of disgusting. “I guess I'll have to find a girlfriend now. Surely that won't be a problem… After all, I used to be a woman, so I know exactly how they work.”
  p “Hi, Andy,” Sean said after a tall, handsome man opened the door for him. “Heya, Sean,” Andrew replied. As per the wish, he had forgotten that they had ever been in a romantic relationship. “What brings you here? I have two of my bitches here right now, so I'm quite busy.” “No problem, I just lost my wallet today, so I need—” Before Sean could finish his sentence, a young woman came into the room and looked at him with a disgusted face. “What is this ugly goblin doing here?” Sean was dumbfounded. As a woman, he had never been called ugly. Did the change make him less attractive? Fortunately, Andrew came to his rescue. “Shut up, whore, or I'll give you another smack in the face!” Has he always been this mean to his girlfriends?
  p Having received the backup key, Sean went home and decided to call the locksmith straight away to get a new lock. While waiting for her to arrive, he went to check the mail. “Conscription Notice,” he read. What? Apparently, he was required to serve in the national army for two years, without getting paid — or else he would go to prison! Before he could think much about it, the locksmith arrived. She changed his lock, gave him a new pair of keys, and then demanded payment. Sean's face went pale when he realized that all his money was in the wallet. Fortunately, he had a backup plan that has previosly always worked in such situations. “Ahem… do you accept sex as payment?”
  p “RAPIST!!!” The woman's voice resonated around the neighborhood. Sean watched in horror as a few people started picking up their phones and calling the police. He had to think of something to save the situation, quick. Just as the police arrived and started inquiring about the situation, a nearby pink-haired person of uncertain gender with a septum ring made a brilliant excuse for him. “This is a trans woman and this TERF is refusing to suck her girldick!” “Y-yeah, right!” Sean confirmed. The locksmith tried to defend herself, but she was promptly given handcuffs and sent to prison.
  p “Phew, that was close. I need to get some money so this doesn't happen again.” He worked at BuzzFeed, so feeling inspired by the incident, he decided to write an article about how cisgender people are trash. He had already copy-pasted seven images from Twitter when he got a call from his boss. “Due to a new company policy to promote gender diversity and abolish the wage gap, we're not allowed to have any male employees. You're fired!” Before Sean could say anything, the boss hung up.
  p Sean thought about going to his partner and talking about it, but he realized he still doesn't have one. Well, what's a better time to go and find a girlfriend than now? He opened a dating app and started filling out his new profile. He decided that it would be a good idea to base his description on what kind of boyfriend he always wanted as a woman. “I'm a honest and caring feminist guy with a lot of interests. I love writing, music and adventures. I'm looking for a strong woman who can stand up for herself and treats me as inferior.” Perfect.
  p After swiping for two hours and not getting a single match, he figured that the app had probably been hacked and decided to try a more traditional form of dating. There was a nice bar close to his home, so he promptly headed there.
  p When Sean woke up, he found himself in a stinky room with thick iron bars on one side and gray walls on the remaining sides. “Oh, you're awake,” the prison ward muttered. “How in hell did I get here?” Sean asked. “Sexual assault,” the warden replied with an annoyed voice, lighting a cigarette. Sean started to vaguely recall the situation: after he had been rudely dismissed by several dozen women, he had finally found one that seemed interested in him, and after a bit of conversation, he pat her on the shoulder in a friendly way and she started yelling… Sean had to sit down and stop thinking because the cigarette smoke was making him nauseous.
  p After a few hours of utter boredom, he saw the door open and another warden walked in. “The lady has admitted that she had greatly exaggerated the situation. You're released. However, you're going to be permanently put on a sex offender list. Good luck finding a job now,” she reported and started maniacally laughing. After she had enough, she unlocked the cell.
  p Sean slowly walked home, not having any money for public transport. It was raining. He was beginning to think his male privilege was not working quite the way he imagined. But he really didn't want to give up. “What if I apply for a programming job?” he pondered. “Programming is a heavily male-dominated job full of misogynists and neckbeards, so they'll gladly accept me and won't care about some sex offender list.” He shuddered at the thought of working with so many incels, but this was the best plan he could come up with, so he decided to stick with it.
  p He looked at a board of programming job offers. Several of them offered free tutoring for beginners, but unfortunately, they were all available only for women. “It's fine,” he thought, “they're going to accept me just for being male.” He proceeded to book an interview.
  p In the meantime, he got the idea that he could get some quick money on OnlyFans. He had great experience with it. He created an account, added some suggestive pictures and wrote a description. The next few hours, he kept refreshing the page, but surprisingly, not a single person wanted to pay for his nudes. He wondered what he was doing wrong.
  p The next day, still no money. He was starting to run out of food. That reminded him about the interview, but too late — he wasn't going to make it in time. “No problem,” he thought, “men always come late and never face the consequences because the workplace is male-dominated.”
  p When Sean entered the interview room and saw a woman disappointedly frowning at him, he was astonished. After a few introducing questions and remarks about his punctuality, it was time for the first technical question.
  p “Write a program in any programming language that determines if a given number is even.” “Well, we have to ask the number if it feels like it's even.” “What in hell are you talking about? A number is even if it's divisible by two.” Sean started boiling with anger. “What if a number that's divisible by two doesn't identify as even?” The interviewer was so dumbfounded that she didn't know what to say.
  p Sean started to shout. “This is why I hate math! It's incredibly transphobic! Trans-even numbers that are assigned odd at birth are literally being erased!” This was the last straw for the interviewer. “Get out! Now!” She eventually had to call security to get Sean dragged out because he kept rambling about trans-parity numbers and threatening to rape her.
  p Being completely broke and having failed to get the job, Sean had no choice but to go back to the old man at the marketplace. Sure, the company was also looking for a janitor, but Sean had a degree in Critical Gender and Race Theory with Emphasis on Undermining the Patriarchy, so the job was way below his standards.
  p “Have you decided that being a man is not your cup of tea?” the man laughed. “Shut up,” Sean muttered, “I just wanted to try it out, but I don't want to be a pig any longer.” “Well you're in luck, my friend, for I just obtained a Monkey's Butt, which can reverse the effects of the Monkey's Paw.” “Give me! Now!” Sean commanded.
  p As Susan felt her penis shrinking into a clitoris and her facial hair disappearing, the old man asked: “Have you learned anything from the experience?” “Yes. Men are such weak crybabies that they can't even find a relationship or get a job. This is why we need to lock them in cages and use them only for breeding.”

// vim: spell
