extends ../templates/main.jade

block head
  include ../templates/katex.jade

block content
  p.warning This website is a work in progress.
  p 
    | Ahoj! Jsem 
    em.xigoi xigoi
    | . Mám rád programování a dalši záležitosti s počítači, matematiku, lingvistiku a chůzi. Ovládám češtinu, angličtinu, 
    a(href="https://tokipona.org/") Toki Ponu
    |  a trochu němčiny. Jsem velký nadšenec do open-source — používám 
    a(href="https://www.linux.com/news/what-is-gnu-linux/") GNU/Linux
    | , 
    a(href="https://www.vim.org/") Vim
    | , 
    a(href="https://www.latex-project.org/") \(\text{\LaTeX}\)
    | , 
    a(href="https://f-droid.org/") F-Droid
    | , 
    a(href="https://disroot.org/en") Disroot
    |  a další. Na této stránce a její 
    a(href="/") anglickě verzi
    |  můžete najít různé věci mnou napsané a jinak vytvořené. Šťastné prohlížení!
  h2 Fikce
  ul.index
    li
      a(href="iprib/") Spouštěč interaktivních příběhů
  h2 Matematika
  ul.index
    li
      a(href="grupy.html") Grupy
    li
      a(href="permutace-a-symetricke-grupy.html") Permutace a symetrické grupy
    li
      a(href="latex.html") \(\mathrm\LaTeX\)
    li
      a(href="vytvareni-dokumentu-v-systemu-latex.html") Vytváťení dokumentů v systému \(\mathrm\LaTeX\)
  h2 Kontaktujte mě
  ul.index
    li E-mail: 
      a(href="mailto:xigoi@disroot.org") xigoi@disroot.org
    li Ruqqus: 
      a(href="https://ruqqus.com/@xigoi") @xigoi
    li Reddit: 
      a(href="https://www.reddit.com/user/xigoi") u/xigoi
    li Discord: xigoi#1759
