extends ../templates/mathsessions.jade

block title
  | LaTeX

block article
  <div class="entry-content"><h1 class="entry-title">\(\mathrm\LaTeX\)</h1>
  <h2>Historie</h2>
  <p>Psaní matematických vzorců na klávesnici nikdy nebylo jednoduché. Do vzniku Unicode většinou chyběly základní symboly jako × nabo √ a na jakékoli zápisy, které vyžadovaly zmenšování písma nebo vertikální umisťování textu, jako například zlomky či exponenty, byly zapotřebí různé podivné triky.</p>
  <span id="more-2603" />
  <p>Potíže měl i známý americký informatik a matematik <em>Donald Knuth</em>, a proto se rozhodl, že s tím něco udělá. Jelikož uměl programovat, rozhodl se, že si vytvoří vlastní sazební systém zvaný \(\mathrm\TeX\) (čteno „tech“). Vstupem do tohoto systému je jakýsi kód, který se dá bez problému napsat na klávesnici, a výstupem je nádherně stylizovaný zápis. Přestože byl primárně určen pro matematickou notaci, umí \(\mathrm\TeX\) sázet celé dokumenty, a to často lépe než běžně používané editory dokumentů jako Microsoft Word. I samotný název ukazuje, že v systému \(\mathrm\TeX\) není žádný problém vertikálně hýbat s písmeny.</p>
  <p>O něco později americký informatik <em>Leslie Lamport</em> vylepšil systém \(\mathrm\TeX\), aby se s ním běžnému člověku lépe pracovalo, a tím vznikl \(\mathrm\LaTeX\) (čteno „latech“). Ten je dodnes nejpoužívanější variantou systému \(\mathrm\TeX\). Na této stránce (a na spoustě dalších, včetně Wikipedie) je používán k sazbě veškeré matematické notace.</p>
  <h2>Základy</h2>
  <p>Kód pro systém \(\mathrm\LaTeX\) je obyčejný text, ve kterém se vyskytují <em>příkazy</em>. Příkaz se skládá ze zpětného lomítka a jednoho slova (nebo více slov bez mezery).  Příkaz má často nějaké argumenty, které se většinou zapisují hned za něj do složených závorek. Než si ale ukážeme konkrétní příkazy, musíme si vysvětlit režimy.</p>
  <h3>Režimy</h3>
  <p>\(\mathrm\LaTeX\) rozlišuje dva <em>režimy</em>: <em>textový</em> režim a <em>matematický</em> režim. Mnoho příkazů funguje pouze v jednom z těchto režimů a i s běžným textem je v matematickém režimu zacházeno jinak. Tělo dokumentu je normálně v textovém režimu a do matematického režimu jde přepínat několika způsoby:</p>
  <ul>  <li>Chcete-li matematický zápis vložit přímo do odstavce, ohraničte ho buď dolary, nebo zpětnými lomítky a závorkami. Např. kód   <code data-enlighter-language="latex" class="EnlighterJSRAW">$1 + 2$</code> nebo   <code data-enlighter-language="latex" class="EnlighterJSRAW">\(1 + 2\)</code> povede k zápisu \(1 + 2\).</li>  <li>Chcete-li pro matematický zápis vytvořit samostatný vycentrovaný odstavec, ohraničte ho dvojitými dolary či zpětnými lomítky s hranatými závorkami. Např. kód   <code data-enlighter-language="latex" class="EnlighterJSRAW">$$1 + 2 = 3$$</code> nebo   <code data-enlighter-language="latex" class="EnlighterJSRAW">\[1 + 2 = 3\]</code> povede k následujícímu zápisu:</li></ul>
  <p>\[1 + 2 = 3\]</p>
  <p>V matematickém režimu nezáleží na tom, jestli mezi operátory a čísly/proměnnými píšete mezery. Pro přehlednost je však dobrým zvykem je psát.</p>
  <h3>Příkazy</h3>
  <p>Nyní si již můžeme ukázat pár konkrétních příkazů:</p>
  <div class="wp-block-columns">
  <div style="flex-basis:100%" class="wp-block-column">
  <div class="wp-block-group">  <div class="wp-block-group__inner-container">
  <figure class="wp-block-table is-style-regular">    <table>      <tbody>        <tr>          <td>            <strong>Režim</strong>          </td>          <td>            <strong>Příkaz</strong>          </td>          <td>            <strong>Výsledek</strong>          </td>        </tr>        <tr>          <td>text</td>          <td>            <code data-enlighter-language="latex" class="EnlighterJSRAW">\textbf{Ahoj}</code>          </td>          <td>            <strong>Ahoj</strong>          </td>        </tr>        <tr>          <td>text</td>          <td>            <code data-enlighter-language="latex" class="EnlighterJSRAW">\textit{Ahoj}</code>          </td>          <td>            <em>Ahoj</em>          </td>        </tr>        <tr>          <td>text</td>          <td>            <code data-enlighter-language="latex" class="EnlighterJSRAW">\LaTeX{}</code>          </td>          <td>\(\mathrm\LaTeX\)</td>        </tr>        <tr>          <td>mat</td>          <td>            <code data-enlighter-language="latex" class="EnlighterJSRAW">x \cdot y</code>          </td>          <td>\(x \cdot y\)</td>        </tr>        <tr>          <td>mat</td>          <td>            <code data-enlighter-language="latex" class="EnlighterJSRAW">\frac{x}{y}</code>          </td>          <td>\(\frac{x}{y}\)</td>        </tr>        <tr>          <td>mat</td>          <td>            <code data-enlighter-language="latex" class="EnlighterJSRAW">\sqrt{x}</code>          </td>          <td>\(\sqrt{x}\)</td>        </tr>        <tr>          <td>mat</td>          <td>            <code data-enlighter-language="latex" class="EnlighterJSRAW">\sqrt[n]{x}</code>          </td>          <td>\(\sqrt[n]{x}\)</td>        </tr>        <tr>          <td>mat</td>          <td>            <code data-enlighter-language="latex" class="EnlighterJSRAW">\LaTeX{}</code>          </td>          <td>\(\LaTeX\)</td>        </tr>      </tbody>    </table>    <figcaption>Tabulka několika vybraných příkazů systému \(\mathrm\LaTeX\). „text“ = textový režim, „mat“ = matematický režim.</figcaption>  </figure>
  </div></div>
  </div>
  </div>
  <p>Odsud vidíme, že některé příkazy fungují v obou režimech, za příkazy bez argumentů se občas píší prázdné složené závorky a některé příkazy také mohou přijmout argumenty navíc, které se poté uzavřou do hranatých závorek.</p>
  <p>Nyní máme jakousi představu o tom, jak vypadá kód systému \(\mathrm\LaTeX\), a v <a href="http://mathsessions.klusik.cz/2021/01/04/vytvareni-dokumentu-v-systemu-latex/">dalším článku</a> si ukážeme, jak takový dokument vlastně vytvořit.</p>
  <!--  .author-info  -->
  </div>
