extends ../templates/mathsessions.jade

block title
  | Permutace a symetrické grupy

block article
  <div class="entry-content"><h1 class="entry-title">Permutace a symetrické grupy</h1>
  <p>V <a href="grupy.html">minulém článku</a> jsme si vysvětlili, co jsou to <em>grupy</em>. Nyní se přesuneme do zdánlivě nesouvisející oblasti, kterou je teorie permutací, a následně si ukážeme, že tvoří jeden z nejzákladnějších druhů grup.</p>
  <h2>Základy permutací</h2>
  <p>Slovo <em>permutace</em> možná znáte ve významu přeházení pořadí nějakých věcí. A to není daleko od formální definice.</p>
  <span id="more-2859" />
  <h3>Definice</h3>
  <p class="has-light-blue-background-color has-background">Máme-li <strong>konečně velkou</strong> množinu \(M\), potom <em>permutace</em> této množiny je jakákoli <strong>bijektivní</strong> funkce \(\pi: M \to M\). <em>Bijektivní</em> znamená, že každému prvku z první množiny je přiřazen právě jeden „další“ prvek z druhě množiny (v tomto případě té samé) a naopak každý prvek z druhé množiny je přiřazen právě jednomu „předchozímu“ prvku z první množiny. Jako množina \(M\) se často bere prvních několik kladných celých čísel.</p>
  <h3>Zápisy</h3>
  <p>Uveďme si jako příklad permutaci \(\pi\) na množině \(M = \{1,2,3,4,5,6\}\) definovanou následujícím předpisem:</p>
  <p>\[\pi(1)=4\\\pi(2)=6\\\pi(3)=2\\\pi(4)=1\\\pi(5)=5\\\pi(6)=3\]</p>
  <p>Tento zápis je poněkud zdlouhavý, proto existují hned tři různé jednodušší zápisy:</p>
  <ol>  <li>  <em>Dvouřádkový zápis</em>. Do jednoho řádku se zapíšou prvky \(M\) a do druhého prvky, které jsou jim přiřazeny. V našem případě \(\pi = \begin{pmatrix}1&amp;2&amp;3&amp;4&amp;5&amp;6\\4&amp;6&amp;2&amp;1&amp;5&amp;3\end{pmatrix}\).</li>  <li>  <em>Jednořádkový zápis</em>. Pokud jde o uspořádanou množinu, první řádek dvouřádkového zápisu zapsaný ve správném pořadí je možné vynechat. V našem případě \(\pi = \begin{pmatrix}4&amp;6&amp;2&amp;1&amp;5&amp;3\end{pmatrix}\).</li>  <li>  <em>Cyklický zápis</em>. Ten se vytvoří tak, že začneme od libovolého prvku \(x\) množiny \(M\) a budeme postupně zapisovat \(x, \pi(x), \pi(\pi(x)), \ldots\). Jakmile se dostaname k počátečnímu prvku, tento seznam uzavřeme do závorek. Pokud jsou v množině nějaké prvky, které jsme ještě nezapsali, jeden z nich si vybereme a provedeme opět to samé. Opakujeme, až žádný prvek nezbyde. V našem případě \(\pi = (1,4)(2,6,3)(5)\). Části obsahující pouze jedno číslo (pro nějž platí \(\pi(x) = x\)) je možné vynechat, tedy \(\pi = (1,4)(2,6,3)\).</li></ol>
  <h3>Cykly a transpozice</h3>
  <p class="has-light-blue-background-color has-background">Permutace, která má v cyklickém zápisu pouze jednu část ohraničenou závorkami (vynecháme-li jednoprvkové části), se nazývá <em>cyklus</em>.</p>
  <p>Platí pro ni, že pokud vybereme nějaký prvek \(x\), pro který \(\pi(x) \neq x\), potom opakovanou aplikací \(\pi\) postupně projdeme všechny takové prvky. <em>Délka</em> cyklu je počet takovýchto prvků.</p>
  <p>Příkladem cyklu je permutace \(\pi = (6,2,3) = \begin{pmatrix}1&amp;2&amp;3&amp;4&amp;5&amp;6\\1&amp;3&amp;6&amp;4&amp;5&amp;2\end{pmatrix}\). Platí \(\pi(6) = 2, \pi(2) = 3, \pi(3) = 6\) a pro ostatní \(x\) je \(\pi(x) = x\).</p>
  <p class="has-light-blue-background-color has-background">Cyklus délky \(2\) se označuje jako <em>transpozice</em>.</p>
  <p>Jde o permutaci, která přehodí dva prvky a všechny ostatní ponechá. Např. u množiny \(M\) z předchozího příkladu by \(\pi = (3,5) = \begin{pmatrix}1&amp;2&amp;3&amp;4&amp;5&amp;6\\1&amp;2&amp;5&amp;4&amp;3&amp;6\end{pmatrix}\) byla transpozice.</p>
  <p class="has-light-blue-background-color has-background">Dva cykly jsou <em>nezávislé</em>, pokud nemají žádný společný prvek. Např. \((2,4,5)\) a \((1,6)\) je dvojice nezávislých cyklů.</p>
  <h3>Skládání permutací</h3>
  <p>Jelikož permutace je určitý druh funkce, skládání permutací funguje stejně jako skládání funkcí. To máme vysvětleno ve <a href="http://mathsessions.klusik.cz/2021/01/02/kratke-povidani-o-funkcich-a-jejich-skladani/">vlastním článku</a>, společně s důkazem, že jde o asociativní operaci.</p>
  <p>Ukážeme si konkrétní příklad. Mějme \(\pi = \begin{pmatrix}1&amp;2&amp;3&amp;4\\1&amp;4&amp;2&amp;3\end{pmatrix}\) a \(\sigma = \begin{pmatrix}1&amp;2&amp;3&amp;4\\2&amp;4&amp;3&amp;1\end{pmatrix}\). Pokud si vybereme např. prvek \(1\) a chceme zjistit \((\pi \circ \sigma)(1)\), musíme nejprve zjistit \(\sigma(1)\), což je \(2\). Výsledkem je pak \(\pi(2)\), což je \(4\). Určeme nyní, co dělá složená permutace se všemi prvky:</p>
  <p>\[(\pi \circ \sigma)(1) = \pi(\sigma(1)) = \pi(2) = 4 \\(\pi \circ \sigma)(2) = \pi(\sigma(2)) = \pi(4) = 3 \\(\pi \circ \sigma)(3) = \pi(\sigma(3)) = \pi(3) = 2 \\(\pi \circ \sigma)(4) = \pi(\sigma(4)) = \pi(1) = 1 \\\pi \circ \sigma = \begin{pmatrix}1&amp;2&amp;3&amp;4\\4&amp;3&amp;2&amp;1\end{pmatrix} \\\]</p>
  <p>Všimněme si, že složením permutací vznikla opět permutace. Pojďme si ukázat, že to tak platí vždy.</p>
  <p class="has-yellow-background-color has-background">Věta: Jsou-li \(\pi\) a \(\sigma\) permutace na množině \(M\), potom \(\pi \circ \sigma\) je také permutace.</p>
  <p class="has-bright-red-background-color has-background">Důkaz: Vezměme si nějaký prvek \(x \in M\). Podle definice permutace je \(\sigma(x) \in M\) a tedy také \((\pi \circ \sigma)(x) = \pi(\sigma(x)) \in M\). Tím je dokázáno, že skládáním vznikne skutečně funkce \(M \to M\) a nyní zbývá ještě dokázat, že je bijektivní. Vezměme dva různé prvky \(x,y \in M\). Podle definice permutace jsou \(\sigma(x)\) a \(\sigma(y)\) také dva různé prvky \(M\), a tedy i \(\pi(\sigma(x))\) a \(\pi(\sigma(y))\). Z toho plyne, že každý prvek \(M\) je funkcí \(\pi \circ \sigma\) přiřazen nejvýše jednomu prvku \(M\). Kdyby však nějaký nebyl přiřazen žádnému, potom by podle holubníkového principu musel néjaký jiný být přiřazen alespoň dvěma. Funkce \(\pi \circ \sigma\) je tedy bijektivní a jde o permutaci.</p>
  <h4>Permutace identity</h4>
  <p class="has-light-blue-background-color has-background"><em>Permutace identity </em>\(\mathbb{I}\) je permutace, která každému prvku přiřadí stejný prvek, tedy \(\mathbb{I} = \begin{pmatrix} a_1 &amp; a_2 &amp; \ldots &amp; a_n \\ a_1 &amp; a_2 &amp; \ldots &amp; a_n \end{pmatrix}\).</p>
  <p>Každá permutace, která má v cyklickém zápisu pouze cykly délky \(1\), je identita, neboť tyto cykly prvky nijak nepřehazují. Pro každou permutaci \(\pi\) platí, že \(\pi \circ \mathbb{I} = \mathbb{I} \circ \pi\), neboť \(\pi(\mathbb{I}(x)) = \pi(x)\) a \(\mathbb{I}(\pi(x)) = \pi(x)\).</p>
  <p>Konkrétním příkladem identity je \(\begin{pmatrix}1&amp;2&amp;3&amp;4&amp;5&amp;6\\1&amp;2&amp;3&amp;4&amp;5&amp;6\end{pmatrix}\).</p>
  <h4>Inverzní permutace</h4>
  <p class="has-light-blue-background-color has-background">Máme-li permutaci \(\pi = \begin{pmatrix} a_1 &amp; a_2 &amp; \ldots &amp; a_n \\ b_1 &amp; b_2 &amp; \ldots &amp; b_n \end{pmatrix}\), definujme její <em>inverzní permutaci</em> jako \(\pi^{-1} = \begin{pmatrix} b_1 &amp; b_2 &amp; \ldots &amp; b_n \\ a_1 &amp; a_2 &amp; \ldots &amp; a_n \end{pmatrix}\).</p>
  <p>Pro tuto permutaci platí \(\pi^{-1} \circ \pi = \pi \circ \pi^{-1} = \mathbb{I}\), což je možné vidět ze skutečnosti, že každému \(a\) je permutací \(\pi\) přiřazeno nějaké \(b\), kterému následně \(\pi^{-1}\) přiřadí opět \(a\) — a naopak.</p>
  <p>Jaká by byla inverze k permutaci \(\begin{pmatrix}1&amp;2&amp;3&amp;4\\2&amp;4&amp;3&amp;1\end{pmatrix}\)? Stačí přehodit řádky, tedy \(\begin{pmatrix}2&amp;4&amp;3&amp;1\\1&amp;2&amp;3&amp;4\end{pmatrix}\). Pro přehlednost můžeme následně seřadit sloupce: \(\begin{pmatrix}1&amp;2&amp;3&amp;4\\4&amp;1&amp;3&amp;2\end{pmatrix}\).</p>
  <p>Stejně snadné je nalezení inverze, pokud máme cyklický zápis. Stačí jednoduše obrátit pořadí prvků ve všech cyklech. Např. inverze k \((4.2.6.7)(3,5,1)\) by byla \((7,6,2,4)(1,5,3)\).</p>
  <h2>Symetrické grupy</h2>
  <p>Zopakujme si, co už jsme si dokázali o skládání permutací: jde o asociativní operaci, která má prvek identity, množina permutací je na ní uzavřena a každá permutace má inverzi. Čtenáři, který si přečetl <a href="http://mathsessions.klusik.cz/2021/01/02/grupy/">náš článek o grupách</a>, je v tuto chvíli jistě zřejmé, že toto přesně odpovídá definici grupy. Máme-li konečnou množinu \(M\) o \(n\) prvcích, potom algebraickou strukturu tvořenou permutacemi na této množině a jejich skládáním nazýváme<em> symetrická grupa stupně \(n\)</em> a značíme \(\mathbb S_n\). Občas se pod tímto pojmem rozumí i grupy definované bijektivními funkcemi na nekonečných množinách, ale ty v tomto článku zanedbáme a budeme se soustředit na konečné symetrické grupy.</p>
  <p>Povšimněme si, že symetrické grupy obecně nejsou komutativní. Pokud vezmeme např. \(\pi = \begin{pmatrix} 1&amp;2&amp;3 \\ 2&amp;1&amp;3\end{pmatrix}\) a \(\sigma = \begin{pmatrix} 1&amp;2&amp;3 \\ 1&amp;3&amp;2\end{pmatrix}\), potom \(\pi \circ \sigma = \begin{pmatrix} 1&amp;2&amp;3 \\ 2&amp;3&amp;1\end{pmatrix}\), ale \(\sigma \circ \pi = \begin{pmatrix} 1&amp;2&amp;3 \\ 3&amp;1&amp;2\end{pmatrix}\). Tím jsme tedy dokázali, že \(\mathbb S_3\) není komutativní. (Dokonce jde o nejmenší nekomutativní grupu, ovšem to tady dokazovat nebudeme.)</p>
  <h2>Rozklad na cykly a transpozice</h2>
  <p>Již jsme si ukázali tzv. cyklický zápis permutace, např. \((1,3)(2,5,4)\). Všimněme si, že vypadá, jako by šlo o jakýsi součin dvou cyklů. Ovšem toto není jen záležitost zápisu — ono totiž o součin dvou cyklů skutečně jde (přičemž součinem se rozumí grupová operace, což v případě permutací je skládání). </p>
  <p>Obecně platí, že každá permutace se dá rozložit na součin několika nezávislých cyklů, a to přesně způbem, který byl již uveden při představení cyklického zápisu. Jelikož každý cyklus přemisťuje jiné prvky, nijak se vzájemně neovlivňují, což vysvětluje nejen to, proč jejich součinem vznikne původní permutace, ale také skutečnost, že skládání nezávislých cyklů je komutativní (na rozdíl od skládání obecně). Proto také můžeme cykly v cyklickém žapisu zapsat v libovolném pořadí.</p>
  <p>S rozkládáním ovšem můžeme jít ješté dál. Dokažme si nyní, že každý cyklus, a tím pádem i každou permutaci, je možné rozložit na součin několika transpozic.<span class="footnote_referrer"><a href="#footnote_plugin_reference_2859_2_1"><sup class="footnote_plugin_tooltip_text" id="footnote_plugin_tooltip_2859_2_1">[1]</sup></a></span></p>
  <p class="has-yellow-background-color has-background">Věta: Pro cykly platí \(\pi = (x_1, x_2, x_3, \ldots, x_n) = (x_1, x_n) \circ \cdots \circ (x_1, x_3) \circ (x_1, x_2)\).</p>
  <div class="has-bright-red-background-color has-background"><p>Důkaz indukcí: Pro cyklus délky \(2\) (transpozici) věta triviálně platí. Předpokládejme nyní, že platí pro cyklus délky \(n-1\), tedy \(\sigma = (x_1, x_2, x_3, \ldots, x_{n-1}) = (x_1, x_{n-1}) \circ \cdots \circ (x_1, x_3) \circ (x_1, x_2)\). Nyní dokážeme, že přidáme-li do cyklu další prvek \(x_n\), čímž dostaneme permutaci \(\pi\), bude platit \(\pi = \tau \circ \sigma\), kde \(\tau = (x_1,x_n)\). Méjme nějaké \(x \in M\) a rozeberme čtyři případy:</p>
  <ol>  <li>Je-li \(x = x_{n-1}\), potom \(\tau(\sigma(x)) = \tau(x_1) = x_n = \pi(x)\).</li>  <li>Je-li \(x = x_n\), potom \(\tau(\sigma(x)) = \tau(x_n) = x_1 = \pi(x)\).</li>  <li>Je-li \(x = x_k\) pro \(k \in \{1, 2, \ldots, n-2\}\), potom \(\tau(\sigma(x)) = \tau(x_{k+1}) = x_{k+1} = \pi(x)\).</li>  <li>Není-li \(x = x_k\) pro žádné \(k\), potom \(\tau(\sigma(x)) = \tau(x) = x = \pi(x)\).</li></ol>
  <p>Tím je hotov indukční krok a tím pádem i celý důkaz. Jelikož každou permutaci lze rozložit na cykly, každý cyklus lze rozložit na transpozice a skládání permutací je asociativní, lze každou permutaci rozložit na transpozice.</p></div>
  <p>Konkrétně např. permutace \((7,3,4,1,6)\) by se dala rozložit jako \((7,6)(7,1)(7,4)(7,3)\)</p>
  <p>Doplňme, že tento součin transpozic na rozdíl od součinu nezávislých cyklů není komutativní.</p>
  <h2>Inverze, parita a znaménko permutace</h2>
  <p class="has-light-blue-background-color has-background"><em>Inverz</em>e v permutaci \(\pi\) na uspořádané množině \(M\) je dvojice prvků \(x,y \in M\), pro které je \(x &lt; y\), ale \(\pi(x) &gt; \pi(y)\). Jinak řečeno, jde o dva prvky, jejichž vzájemné pořadí se po uplatnění permutace změní.</p>
  <p>Pozor! Inverze v permutaci nijak nesouvisí s inverzní permutací. Podobnost výrazů je čistě náhodná.</p>
  <p>Pojďme spočítat, kolik inverzí má permutace \( \begin{pmatrix}1&amp;2&amp;3&amp;4&amp;5&amp;6&amp;7\\1&amp;2&amp;3&amp;6&amp;5&amp;4&amp;7\end{pmatrix}\). Vidíme, že \(6\) je před \(5\), \(5\) je před \(4\) a \(6\) je před \(4\). Jinak je vše ve „správném“ pořadí, celkově tedy máme tři inverze.</p>
  <p class="has-light-blue-background-color has-background">Permutace, která má sudý počet inverzí, se označuje jako <em>sudá</em>. Permutace, kterš má lichý počet inverzí, se označuje jako <em>lichá</em>.</p>
  <p>Permutace v předchozím příkladu měla tři inverze, jde tedy o lichou permutaci.</p>
  <p class="has-light-blue-background-color has-background">Definujme <em>znaménko permutace</em> \(\operatorname{sgn}(\pi)\) takto: znaménko sudé permutace je \(+1\) a znaménko liché permutace je \(-1\).</p>
  <p>Všimněme si analogie s celými čísly, kde funkce \(n \mapsto (-1)^n\) vrací \(+1\) pro sudé \(n\) a \(-1\) pro liché \(n\).</p>
  <p>Je zřejmé, že každá permutace je buď sudá, nebo lichá, ale ne obojí zároveň. Nyní si dokážeme důležitou větu o paritě permutací.</p>
  <p class="has-yellow-background-color has-background">Věta: Součinem sudého počtu transpozic vznikne sudá permutace. Součinem lichého počtu transpozic vznikne lichá permutace.</p>
  <p class="has-bright-red-background-color has-background">Důkaz indukcí: Součin \(0\) transpozic je permutace identity, která nemá žádnou inverzi a je tedy sudá. Dokažme nyní, že pokud permutaci vynásobíme zleva transpozicí, změní se tím její parita. Pokud si permutaci představíme jako nějaké pořadí prvků, transpozice v tomto pořadí přehodí dva prvky \(x\) a \(y\). Tím se změní jejich pořadí. Pokud byly ve „správném“ pořadí, potom tímto vznikne jedna inverze, v opačném případě zanikne jedna inverze — ale každopádně se tím parita počtu inverzí změní. Mezi \(x\) a \(y\) však může být ještě dalších \(k\) prvků. Pro každý z těchto prvků se zméní jeho pořadí jak s \(x\), tak s \(y\), takže stejným způsobem dojde ke dvěma vznikům nebo zánikům inverze. To však paritu počtu inverzí neovlivní, jelikož se tyto výměny dají právě takto rozdělit do dvojic. Celkově se tedy parita musí změnit, což je přesně to, co jsme chtěli dokázat.</p>
  <p>Permutace \(\begin{pmatrix}1&amp;2&amp;3&amp;4&amp;5&amp;6&amp;7\\1&amp;2&amp;3&amp;6&amp;5&amp;4&amp;7\end{pmatrix} = (6,4)\) se skládá z jedné transpozice, čímž se znovu potvrzuje, že je lichá.</p>
  <p>Nyní si již uvažováním o rozkladu na transpozice lze snadno rozmyslet, že skládání permutací funguje co do parity stejně jako sčítání celých čísel: dvě sudé nebo dvě liché dají sudou, zatímco sudá s lichou nebo lichá se sudou dají lichou. To se dá jednoduše formulovat pomocí znamének: \(\operatorname{sgn}(\pi \circ \sigma) = \operatorname{sgn}(\pi) \cdot \operatorname{sgn}(\sigma)\).</p>
  <p class="has-yellow-background-color has-background">Věta: Pro každé \(n \geq 2\) je v grupě \(\mathbb S_n\) stejný počet sudých a lichých permutací.</p>
  <p>Důkaz: Vezměme libovolnou transpozici \(\tau\). Jelikož jde jen o přehození dvou prvků, které je po opětovném provedení vrátí do původního stavu, platí \(\tau = \tau^{-1}\). Definujme funkci \(f(\pi) = \tau \circ \pi\). Tato funkce je také inverzí sama sebe, jelikož \(f(f(\pi)) = \tau \circ \tau \circ \pi = \tau^{-1} \circ \tau \circ \pi = \pi\). Jelikož \(\tau\) je lichá permutace, funkce \(f\) změní znaménko permutace, kterou do ní vložíme. Z těchto dvou skutečností však plyne, že \(f\) je bijekce mezi množinou sudých a lichých permutací, a tyto množiny tedy musí mít stejnou velikost.</p>
  <p>Zajímavostí na závěr je, že ve známé hře <a href="https://cs.wikipedia.org/wiki/Patn%C3%A1ctka">Patnáctka</a> nelze polovinu pozic vyřešit — a to právě proto, že libovolná posloupnost tahů, po které zůstane volné stejné pole jako před ní, nemůže změnit paritu permutace čísel na desce. Jeden vychytralý člověk na to kdysi vyhlásil tučnou peněžní odměnu, čímž vyvolal naprostou mánii a mnoho lidí trávilo čas marnými pokusy o nalezení posloupnosti tahů, která by vedla k přehození dvou čísel. Matematika samozřejmě stála při jeho zádech a nikomu se to nepodařilo.</p>
  <div class="speaker-mute footnotes_reference_container"> <div class="footnote_container_prepare">  <p>    <hr />    <span style="display: none;" role="button" class="footnote_reference_container_collapse_button" onclick="footnote_expand_collapse_reference_container_2859_2();" tabindex="0">[    <a id="footnote_reference_container_collapse_button_2859_2">+</a>]</span>  </p></div> <div style="" id="footnote_references_container_2859_2"><table class="footnotes_table footnote-reference-container"> <tbody> 
  <tr class="footnotes_plugin_reference_row"> <th class="footnote_plugin_index_combi pointer" onclick="footnote_moveToAnchor_2859_2('footnote_plugin_tooltip_2859_2_1');" scope="row">  <a href="#footnote_plugin_tooltip_2859_2_1" class="footnote_backlink" id="footnote_plugin_reference_2859_2_1">  <span class="footnote_index_arrow">↑</span>1</a></th> <td class="footnote_plugin_text">Dokonce platí i silnější tvrzení, že každá permutace se dá rozložit na součin transpozic sousedních dvou prvků. Konkrétní způsob, jak to provést, je tzv. <a href="https://cs.wikipedia.org/wiki/Bublinkov%C3%A9_%C5%99azen%C3%AD">bublinkové řazení</a>.</td></tr>
  </tbody> </table> </div></div>
  </div>
