extends ../templates/mathsessions.jade

block title
  | Vytváření dokumentů v systému LaTeX

block article
  <div class="entry-content"><h1 class="entry-title">Vytváření dokumentů v systému \(\mathrm\LaTeX\)</h1>
  <p>V <a href="http://mathsessions.klusik.cz/2021/01/03/latex/">minulém článku</a> jsme si vysvětlili, že \(\mathrm\LaTeX\)ový kód se skládá z příkazů a jak tyto příkazy vypadají. Ale jak vlastně začít psát takový \(\mathrm\LaTeX\)ový dokument? V zásadě existují tři možnosti:</p>
  <span id="more-2629" />
  <ul>  <li>Obyčejný textový editor — např.   <a href="https://www.vim.org/">Vim</a>,   <a href="https://notepad-plus-plus.org/">Notepad++</a> nebo i Windows Poznámkový blok. Pozor, nikoliv editor formátovaného textu jako je Microsoft Word! O formátování se ostatně \(\mathrm\LaTeX\) postará sám. Napsaný kód se poté musí zkompilovat nějakým kompilátorem \(\mathrm\LaTeX\)u, nejpoužívanější je   <a href="https://www.tug.org/texlive/">TeXLive</a>.</li>  <li>Integrované prostředí, které poskytuje funkcionalitu pro editaci i kompilování zároveň. Příkladem je webová stránka   <a href="https://www.overleaf.com/">Overleaf</a>, kde je možné bez jakéhokoli stahování napsat dokument a vytvořit z něj PDF.</li>  <li>Nějaký jiný systém, který má podporu \(\mathrm\LaTeX\)ových vzorců. Tyto systémy podporují většinou pouze matematický režim. Patří mezi ně například WordPress, ve kterém je napsán tento článek.</li></ul>
  <h2>Základní kód</h2>
  <p>Takže už máme nějaký prázdný soubor, co do něj teď napsat? Začneme tím, že nastavíme druh dokumentu společně s nějakými dalšími parametry a použijeme některé základní balíčky. (Balíčky jsou vylepšení, která do dokumentů přidávají různou funkcionalitu, například možnost vkládat obrázky.) Následuje příkaz <code data-enlighter-language="latex" class="EnlighterJSRAW">\begin{document}</code>, který ukazuje, že zde začíná tělo dokumentu. Poté již můžeme psát samotný obsah. Dokument nakonec uzavřeme příkazem <code data-enlighter-language="latex" class="EnlighterJSRAW">\end{document}</code>. Kód bude vypadat následovně:</p>
  pre(data-enlighter-highlight="" data-enlighter-group="" data-enlighter-language="latex" class="EnlighterJSRAW" data-enlighter-linenumbers="" data-enlighter-lineoffset="" data-enlighter-title="" data-enlighter-theme="").
    \documentclass[a4paper]{article}
    \usepackage[utf8]{inputenc}
    \usepackage[czech]{babel}
    \usepackage{geometry}

    \begin{document}
    Toto je tělo dokumentu psaného v systému \LaTeX{}. Můžu v něm psát \textbf{tučně}, \textit{kurzívou}, \large{velkým písmem} i \small{malým písmem}.

    Zde máme další odstavec. Odstavce jsou oddělené prázdným řádkem.
    \end{document}</pre>
  <p>Pokud tento kód zkompilujeme (přesný postup záleží na používaněm nástroji), vznikne tím PDF dokument s jedním listem velikosti A4 o dvou odstavcích.</p>
  <h2>Komentáře</h2>
  <p>Do kódu je možné přidávat <em>komentáře</em>. Komentář je část textu, která se při kompilaci zcela ignoruje a slouží k tomu, abychom si do kódu mohli psát vlastní poznámky, které se neobjeví ve výsledném dokumentu. Komentář začíná znakem <code data-enlighter-language="latex" class="EnlighterJSRAW">%</code> a pokračuje až do konce řádku. V dalších příkladech budou pomocí komentářů vysvětlovány nové příkazy.</p>
  <h2>Titulek</h2>
  <p>Nyní se naučíme do dokumentu přidat titulek. To funguje tak, že v záhlaví (před <code data-enlighter-language="latex" class="EnlighterJSRAW">\begin{document}</code>) uvedeme informace o názvu a autorovi, popřípadě datu, a následně v textu můžeme použít příkaz <code data-enlighter-language="latex" class="EnlighterJSRAW">\maketitle</code>, který automaticky vygeneruje titulek. Nyní již přejděme ke kódu:</p>
  pre(data-enlighter-highlight="" data-enlighter-group="" data-enlighter-language="latex" class="EnlighterJSRAW" data-enlighter-linenumbers="" data-enlighter-lineoffset="" data-enlighter-title="" data-enlighter-theme="").
    \documentclass[a4paper]{article}  % Vybere článek jakožto nejzákladnější druh dokumentu.
    \usepackage[utf8]{inputenc}  % Zařídí, aby bylo možné psát háčky a čárky
    \usepackage[czech]{babel}  % Nastaví češtinu jako jazyk dokumentu
    \usepackage{geometry}  % Nastaví hezčí velikosti okrajů
    \title{Můj první \LaTeX{} dokument}  % Název dokumentu, uvnitř lze používat příkazy
    \author{Zuzana Psálková}  % Autor dokumentu, uvnitř lze používat příkazy
    \date{4.\ ledna 2021}  % Datum; pokud příkaz vynecháte, použije se aktuální
                           % Pokud datum vůbec nechcete uvádět, použijte \date{}

    \begin{document}
    \maketitle  % Vytvoří nadpis
    Tento dokument má nadpis!

    A opět dva odstavce. Jak jsme se již naučili, můžu používat matematický režim: $\frac{\sqrt{8}}{\sqrt{2}} = 2$
    \end{document}
  <p>V příštím článku si ukážeme, jak do dokumentu přidat nadpisy a obsah.</p>
  <!--  .author-info  -->
  </div>
