.bingo-input {
  width: 100%;
  height: 16rem;
  resize: vertical;
}

.bingo-grid-wrapper {
  width: 100%;
  overflow: auto;
}

.bingo-grid {
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
}

.bingo-cell {
  border: 2px solid #888;
  cursor: pointer;
  padding: 0.5rem;
}
.bingo-cell.crossed {
  background-color: #008;
}
