extends ../templates/main.jade

block title
  | Language Criticism | xigoi

block content
  h1 Language Criticism
  p Here I'm going to criticize all kinds of languages: spoken languages, programming languages, markup languages, etc. Prepare your pitchforks.
  h2 Programming language constructs
  ul.index
    li
      a(href="braces-semicolons.html") Braces &amp; Semicolons
  h2 Programming languages
  ul.index
    li
      a(href="c.html") C
    li
      a(href="cpp.html") C++
    li
      a(href="python.html") Python
