body {
  overflow-y: scroll;
}

.history-entry:nth-child(odd) {
  color: #777;
}
.history-entry:nth-child(even) {
  color: #090;
}

.option, .end-option {
  color: #0e0;
  cursor: pointer;
}

.end-option {
  color: #e00;
}
