doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="/images/xigoi-thicc.svg")
    link(rel="stylesheet" href="/styles/main.css")
    script(async src="/scripts/counter.js")
    script(async src="/scripts/hover-prefetch.js")
    block head
    title
      block title
        | xigoi
  body
    a(href="/" aria-label="Go to main page")
      header
        svg(id="xigoi-logo" width="2cm" height="2cm" viewBox="-7 -2 24 24" xmlns="http://www.w3.org/2000/svg")
          title xigoi logo
          path(d="M 0 20 L 9 8 A 5 5 0 1 0 1 8 L 4 12 A 5 5 0 0 0 8 14 A 2 2 0 0 1 10 16 A 4 4 0 0 1 2 16 A 5 5 0 0 1 3 13 A 10 10 0 0 0 5 7" stroke="#0ff" stroke-width="1")
          circle(cx="5" cy="5" r="1" fill="#f80")
        .xigoi xigoi
    block content
