extends main.jade

block head
  link(rel="stylesheet" href="/styles/mathsessions.css")
  include katex.jade

block content
  p.notice Tento článek je zkopírován ze stránky 
    a(href="http://mathsessions.klusik.cz/") Matematická setkání
    | .
  block article
