@charset "UTF-8";
ul.achievements li.incomplete {
  list-style-type: "☐ ";
}
ul.achievements li.complete {
  color: #0f8;
  list-style-type: "☑ ";
}
ul.achievements li.locked {
  color: #777;
  list-style-type: "🔒 ";
}
