svg.chemistry path {
  fill: none;
  stroke: currentColor;
  stroke-width: 0.1;
}
svg.chemistry text {
  dominant-baseline: middle;
  fill: currentColor;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
  font-size: 1px;
  text-anchor: middle;
}
