@use 'fonts'

svg.chemistry

  path
    fill: none
    stroke: currentColor
    stroke-width: 0.1

  text
    dominant-baseline: middle
    fill: currentColor
    font-family: fonts.$sans-serif
    font-size: 1px
    text-anchor: middle
