.has-background {
  padding: 3mm;
}

.has-light-blue-background-color {
  background-color: #003567;
}

.has-bright-red-background-color {
  background-color: #9c0000;
}

.has-yellow-background-color {
  background-color: #735900;
}
